<!DOCTYPE html>
<html ng-app='CustomServiceApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Custom Service</title>
  </head>
  <body>
    <h1> CustomService Through Factory</h1>
    <!-- List 1 :  unlimited items -->
    <div id="list1" ng-controller='ShoppingListAddController1 as list1'>
        <input type="text" ng-model="list1.itemName" placeholder="item name">
        <input type="text" ng-model="list1.itemQuantity" placeholder="quantity">
        <button ng-click="list1.addItem();">Add Item To Shopping List</button>
        <ol>
          <li ng-repeat="item in list1.items">
              {{ item.quantity }} of {{ item.name }}
              <button ng-click="list1.removeItem($index);">Remove This Item</button>
          </li>
        </ol>
        <div class="error"> Error: {{list1.errorMessage}} </div>
    </div>

    <!-- List 2 : MAX 3 items -->
    <div id="list2" ng-controller='ShoppingListAddController2 as list2'>
        <input type="text" ng-model="list2.itemName" placeholder="item name">
        <input type="text" ng-model="list2.itemQuantity" placeholder="quantity">
        <button ng-click="list2.addItem();">Add Item To Shopping List</button>
        <ol>
          <li ng-repeat="item in list2.items">
              {{ item.quantity }} of {{ item.name }}
              <button ng-click="list2.removeItem($index);">Remove This Item</button>
          </li>
        </ol>
        <div class="error"> Error: {{list2.errorMessage}} </div>
    </div>

  </body>
</html>
